/* CSS variables for color values */
:root {
    --green: #00FF00;
    --white: #FFFFFF;
    --black: #000000;
}

/* Styling for body element */
body {
    background: var(--bg);
    color: var(--fontColor);
    font-family: helvetica;
}

/* Styling for list items with circle bullets */
li {
    list-style: circle;
}

/* Styling for list items with square bullets */
.list {
    list-style: square;
}

/* Styling for the light theme */
.light-theme {
    --bg: var(--green);
    --fontColor: var(--black);
    --btnBg: var(--black);
    --btnFontColor: var(--white);
}

/* Styling for the dark theme */
.dark-theme {
    --bg: var(--black);
    --fontColor: var(--green);
    --btnBg: var(--white);
    --btnFontColor: var(--black);
}

/* Styling for the button */
.btn {
    position: absolute;
    top: 20px;
    left: 250px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
}